<template>
<div>
  <el-collapse accordion>
    <el-collapse-item title="Información general"
                      name="1">
      <div class="row">
        <div class="col-md-12">
          <hr>
          <h5 class="names">Información General</h5>
          <p>El proyecto del prototipo funcional de pronóstico de demanda ha sido ejecutado por la Universidad de Antioquia y XM - Expertos en Mercados. El objeto de la presente obra está basado en el encargo de un diseño conceptual y metodológico para evaluar el impacto de la generación distribuida y la instalación de paneles solares residenciales en los diferentes escenarios de la planeación operativa del Sistema Interconectado Nacional. En términos generales, este proyecto se ha ejecutado en cuatro entregables que son: </p>
          <p>
            <b>Entregable 1:</b> Aquí se recopila el análisis de diferentes estrategias, metodologías y prácticas de pronóstico de la demanda de energía eléctrica. En particular, en este ejercicio se ha hecho un enfoque especial sobre modelos a corto plazo en los que se tienen pronósticos de demanda horarios e intra-horarios donde los horizontes de análisis generalmente son de un día.
          </p>
          <p>
            <b>Entregable 2:</b> Aquí se describen las bases de datos utilizadas, la metodología adoptada para corrección de los datos, la desagregación de demanda por áreas en barras, las metodologías de pronóstico de demanda empleadas en la modelación, la combinación de pronósticos, la metodología de corrección de errores de pronóstico y la curva de duración de carga. En particular, en este entregable se ha hecho un enfoque especial sobre las metodologías de pronóstico de demanda, entre las cuales se encuentran: regresión lineal, redes neuronales multicapa (RN), redes neuronales recurrentes, y modelos aditivos generalizados (GAM).
          </p>
          <p>
            <b>Entregable 3:</b> Aquí se describe el prototipo funcional de pronóstico de demanda que se ejecuta de forma autónoma. En este entregable se integran las metodologías implementadas en el entregable 2 con el fin de permitir caracterizar la demanda y obtener pronósticos de áreas y barras en tiempo real. El prototipo permite la configuración completa del proceso de pronóstico de demanda usando un módulo de especificación de parámetros técnicos acorde con la fase del ciclo en tiempo real.
          </p>
          <p>
            <b>Entregable 4:</b> Aquí se describen los resultados del análisis del impacto de la penetración de fuentes renovables a nivel de demanda y ubicación geográfica. En este entregable se detallan los escenarios simulados y los desempeños de las metodologías implementadas en términos de tiempos de ejecución y respuestas obtenidas. Finalmente, se analizan posibles impactos de diferentes niveles de penetración de paneles solares residenciales y generación distribuida en un área operativa del sistema interconectado nacional.
          </p>
        </div>
      </div>
    </el-collapse-item>
    <el-collapse-item title="Descripción de prototipo"
                      name="2">
      <div class="row">
        <div class="col-md-6">
          <p>El prototipo de pronóstico de demanda con procesamiento en tiempo real se ilustra en el diagrama de flujo de la Figura 1. En primer lugar, se utiliza la metodología de corrección y actualización de datos atípicos usando datos históricos de demanda, la cual permite reconstruir los valores de datos históricos a través de un proceso de identificación de datos erróneos, imputación con datos afines y filtrado de datos.</p>
          <p>En segundo lugar, las metodologías de pronóstico de demanda que el usuario desea implementar deben estimarse o entrenarse con el fin de identificar los modelos para el pronóstico de demanda en tiempo real. Seguidamente, el algoritmo entra en un ciclo de procesamiento a través del cual se realizan las tareas de pronóstico del área, combinación de pronósticos, pronóstico de subestaciones, pronóstico de Días Extremadamente Atípicos (DEAs), corrección de pronóstico, lectura de nueva medición, imputación de la nueva medición, filtrado en tiempo real y actualización de base de datos; con la opción de reentrenar los modelos con cierta periodicidad definida por el usuario. Con el fin de coordinar las diferentes tareas del proceso de pronóstico de demanda, se ha desarrollado un código maestro que permite la comunicación inteligente y continua de las diferentes fases del proceso (tareas) ilustradas en el diagrama de flujo de la <b>Figura 1.</b></p>
        </div>
        <div class="col-md-6">
          <img width="500px"
               src="static/diagram.png" />
          <center>
            <small><b>Figura 1. Diagrama de flujo para pronóstico de demanda en tiempo real</b></small>
          </center>
        </div>
      </div>
    </el-collapse-item>
    <el-collapse-item title="Información técnica"
                      name="3">
      <a class="btn btn-warning"
         href="static/entregable1.pdf"><i class="fa fa-download"></i> Descargar entregable 1</a>
      <a class="btn btn-warning"
         href="static/entregable2.pdf"><i class="fa fa-download"></i> Descargar entregable 2</a>
    </el-collapse-item>
    <el-collapse-item title="Créditos"
                      name="4">
      <div class="row">
        <div class="col-md-6">
          <h3>Equipo de trabajo</h3>
          <h4 class="titles">Auxiliares de Investigación</h4>
          <h5 class="names">Camilo Tabares</h5>
          <h6 class="position">Estudiante de Economía.</h6>
          <h5 class="names">Angy Dayana Carreño Velasco</h5>
          <h6 class="position">Estudiante de Economía.</h6>
          <h5 class="names">Michelle Agudelo</h5>
          <h6 class="position">Estudiante de Ingeniería Eléctrica</h6>
          <h5 class="names">Carlos Andrés Osuna</h5>
          <h6 class="position">Estudiante de Ingeniería Eléctrica</h6>
          <h4 class="titles">Profesionales en el área de Sistemas</h4>
          <h5 class="names">Santiago Blanco Vilchez</h5>
          <h6 class="position">Ingeniero de Sistemas</h6>
          <h4 class="titles">Especialistas en el área de Energía</h4>
          <h5 class="names">Alejandro Castillo</h5>
          <h6 class="position">Ingeniero de Materiales. MSc. en Ingeniería</h6>
          <h5 class="names">Walter Mauricio Villa</h5>
          <h6 class="position">Ingeniero Electricista. MSc. en Ingeniería Eléctrica</h6>
          <h5 class="names">John William Grimaldo</h5>
          <h6 class="position">Ingeniero de Petróleos. MSc. en Ingeniería Eléctrica</h6>
          <h4 class="titles">Especialistas en el área de Pronóstico</h4>
          <h5 class="names">Mauricio Lopera</h5>
          <h6 class="position">Economista. Msc en Estadística</h6>
          <h4 class="titles">Director del proyecto</h4>
          <h5 class="names">Diego Mejía Giraldo</h5>
          <h6 class="position">Ingeniero Electricista. MSc. en Ingeniería Eléctrica, Ph. D. en Ingeniería Eléctrica</h6>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </el-collapse-item>
  </el-collapse>
</div>

</template>

<script>
export default {
}

</script>

<style>
.position {
  font-size: 14px;
}

.names {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.titles {
  color: #235608;
  font-size: 22px;
}
</style>
