<template>
<div>
  <div class="row"
       style="margin-right: 5px;">
    <!-- navegation menu -->
    <div v-bind:class="getClassMenuWrapper()">
      <Menu :isCollapse="isCollapse"
            :inProcess="terminalIsRunning"
            v-on:changedMenu="changeMenu"
            :active="active" />
    </div>


    <el-dialog
      title="Descarga de archivo"
      :visible.sync="showDownloadModal"
      width="30%">
      <span>Los archivos han terminado de procesar.</span>
      <span slot="footer" class="dialog-footer">

        <a style="color:white;; background-color: #3a0573;" @click="showDownloadModal = false" class="btn btn-dark" type="primary">Cerrar</a>

        <a style="color:white" href="/scriptsxm/resultados.zip" class="btn btn-primary" type="primary" download>Descargar</a>
      </span>
    </el-dialog>






    <!-- content -->
    <div v-bind:class="getClassContentWrapper()">
      <div class="row"
           style="margin-top: 10px;">
        <div class="col-md-7">
          <h5 style="color:black;">
              <img width="200px;" src="static/logo-new.svg" alt=""><br> Pronóstico de demanda de energía</h5>
        </div>
        <div class="col-md-5"
             style="padding-right: 30px;"
             v-if="active === '2' && itemMenuConfig === '1' && !terminalIsRunning">
          <button @click="save(config)"
                  class="btn btn-warning float-right"><i class="fa fa-save"></i> Guardar</button>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6"
                 v-if="indicators.length > 0 && active == '1'">
              <a>
                <label class="form-control"
                       style="font-weight: bold;"><i style="color: green;margin-right: 5px;"
                     class="fa fa-exclamation-circle"></i> MPE = {{selectedMAPE}} % </label>
              </a>
              <a class="form-control"
                 style="font-weight: bold;margin-top: 10px;"><i  style="color: orange;margin-right: 5px;"class="fa fa-bolt"></i> D = {{indicators[1]}}</a>
            </div>
            <div class="col-md-6"
                 v-if="active === '1'">
              <div id="clock">
                <div>
                  <div class="font-clock form-control">
                    <i style="color: black;"
                       class="fa fa-clock"></i> <a style="font-size: 20px;">{{hour}} {{nn}}</a>
                  </div>
                </div>
                <div>
                  <div class="form-control"
                       style="margin-top: 10px;">
                    <i style="color: black;margin-right: 5px;"
                       class="fa fa-calendar"></i> <a style="font-size:12px;"> {{date}}</a>
                  </div>
                </div>
                <a style="margin-top: 10px;"
                   class="form-control"
                   @click="goToTerminal()"
                   v-if="!terminalIsRunning"><i style="color:#fd2c27;margin-right: 5px; cursor: pointer;" class="fa fa-circle"></i><label style="font-weight: bold; cursor: pointer;">DETENIDO</label></a>
                <a style="margin-top: 10px;"
                   class="form-control"
                   @click="goToTerminal()"
                   v-if="terminalIsRunning"><i style="color:#00ab47;margin-right: 5px; cursor: pointer;" class="fa fa-circle"></i><label style="font-weight: bold; cursor: pointer;">EN EJECUCIÓN</label></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="active === '1'">
        <div style="margin-top:20px; margin-right:20px;">
          <div class="row">
            <div class="col-md-12">
              <el-tabs v-model="activeTab"
                       type="card"
                       @tab-click="changeTab">
                <el-tab-pane name="sin"
                             label="SIN"
                             v-if="dataExist()">
                  <div class="row"
                       v-if="activeTab === 'sin'">
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-12">
                      <a @click="showCurve"
                         style="background-color: #ff6a13;color:white !important;"
                         class="btn btn-xs"><i class="fa fa-eye"></i> Ver curva de duración</a>

                       <a @click="downloadResults" style="margin-right: 10px; background-color: #3a0573; color:white; border-color: #3a0573;" class="btn btn-warning">
                        <i class="fa fa-download"></i>
                        Exportar datos</a>
                      </div>
                      </div>
                        <hr>

                      <chart name="pronos11"
                             title="Pronóstico de demanda"
                             mode="sin"
                             yaxisTitle="DEMANDA (MW)"
                             :zoom="false"
                             :config="config"
                             :chartRegisters="chartRegisters[0]" />
                    </div>
                    <div class="col-md-4">
                      <el-tabs @tab-click="changeTab"
                               v-model="activeNameRight"
                               style="margin-top: 16px;">
                        <el-tab-pane label="Errores"
                                     name="first">
                          <chart-error name="err"
                                       title="MAPE"
                                       mode="sin"
                                       :area="area"
                                       :zoom="false"
                                       yaxisTitle="%"
                                       :config="config"
                                       :chartRegisters="MAPEChartData" />
                        </el-tab-pane>
                        <el-tab-pane label="Corregido"
                                     name="second">
                          <chart name="pronos12"
                                 yaxisTitle="DEMANDA (MW)"
                                 title="Pronóstico de demanda corregido"
                                 mode="sin"
                                 :zoom="false"
                                 :config="config"
                                 :chartRegisters="chartRegisters[1]" />
                        </el-tab-pane>
                      </el-tabs>
                    </div>
                  </div>
                </el-tab-pane>
                <el-tab-pane name="pronosticoArea"
                             label="Pronóstico Área">
                  <div v-if="activeTab === 'pronosticoArea'">
                    <div class="row">
                      <div class="col-md-8">
                        <el-select @change="changeArea"
                                   v-model="area"
                                   placeholder="Seleccione área">
                          <el-option v-for="area in areas"
                                     :key="area.value"
                                     :label="area.label"
                                     :value="area">
                          </el-option>
                        </el-select>
                        <a @click="showCurve"
                           style="background-color: #ff6a13; color:white !important;"
                           class="btn btn-xs"><i class="fa fa-eye"></i> Ver curva de duración</a>
                        <hr>
                        <chart name="pronos21"
                               yaxisTitle="DEMANDA (MW)"
                               title="Pronóstico de demanda"
                               mode="area"
                               :area="area"
                               :config="config"
                               :scroller="true"
                               :zoom="false"
                               :chartRegisters="chartRegisters[0]" />
                      </div>
                      <div class="col-md-4">
                        <el-tabs @tab-click="changeTab"
                                 v-model="activeNameRight"
                                 style="margin-top: 16px;">
                          <el-tab-pane label="Errores"
                                       name="first">
                            <chart-error name="err"
                                         title="MAPE"
                                         :area="area"
                                         mode="area"
                                         :zoom="false"
                                         yaxisTitle="%"
                                         :config="config"
                                         :chartRegisters="MAPEChartData" />
                          </el-tab-pane>
                          <el-tab-pane label="Corregido"
                                       name="second">
                            <chart name="pronos12"
                                   yaxisTitle="DEMANDA (MW)"
                                   title="Pronóstico de demanda corregido"
                                   mode="area"
                                   :area="area"
                                   :scroller="false"
                                   :zoom="false"
                                   :config="config"
                                   :chartRegisters="chartRegisters[1]" />
                          </el-tab-pane>
                        </el-tabs>
                      </div>
                    </div>
                  </div>
                </el-tab-pane>
                <el-tab-pane name="barras"
                             label="Pronóstico Subestaciones">
                  <div v-if="activeTab === 'barras'">
                    <div class="row"
                         style="margin-bottom: 10px;">
                      <div class="col-md-12">
                        <h6>Seleccione una subestación de {{area.label}}</h6>
                        <el-select @change="changeSubestacion"
                                   v-model="subestacion"
                                   placeholder="Seleccione subestacion">
                          <el-option v-for="subestacion in area.subestaciones"
                                     :key="subestacion.value"
                                     :label="subestacion.label"
                                     :value="subestacion">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <chart name="pronos31"
                               title="Pronóstico de demanda"
                               mode="subestacion"
                               yaxisTitle="DEMANDA (MW)"
                               :area="area"
                               :subestacion="subestacion"
                               :config="config"
                               :scroller="false"
                               :zoom="false"
                               :chartRegisters="chartRegisters[0]" />
                      </div>
                      <div class="col-md-4">
                        <chart name="pronos32"
                               title="Pronóstico de demanda corregido"
                               mode="subestacion"
                               yaxisTitle="DEMANDA (MW)"
                               :area="area"
                               :subestacion="subestacion"
                               :config="config"
                               :zoom="true"
                               :scroller="false"
                               :chartRegisters="chartRegisters[1]" />
                      </div>
                    </div>
                  </div>
                </el-tab-pane>
              </el-tabs>
            </div>
          </div>
        </div>
      </div>
      <div v-if="active === '2'">
        <div class="col-md-12"
             v-if="configIsLoaded">
          <configuration @save="save"
                         :config="config"
                         :terminalStep="terminalStep"
                         @start="start"
                         @stop="stop"
                         :terminalMessages="terminalMessages"
                         @goToCharts="goToCharts"
                         :terminalIsRunning="terminalIsRunning"
                         @changeMenu="changeItemMenuConfig"
                         :collapseMode="itemMenuConfig" />
        </div>
      </div>
      <div v-else-if="active === '3'">
        <div class="col-md-12">
          <help/>
        </div>
      </div>
      <div v-else-if="active === '4'">
        <hr>
        <a @click="changePreviusActive"
           style="color:white;"
           class="btn btn-primary">Volver a gráficas</a>
        <hr>
        <div id='curva'></div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
// ipcRenderer para enviar data entre el 
// client y el backend (nodejs, electron)
const {ipcRenderer} = require('electron')
// componente encargado de mostrar el menu del sitio
import Menu from './Menu';
// componente asociado a la configuración
import Configuration from './configuration/Main';
// componente asociado a la ayuda
import Help from './information/Main';

// permite cargar el css de el componente de loading
import 'vue-loading-overlay/dist/vue-loading.min.css';
// permite cargar el componente de grafica (generico para todos)
import chart from './pronostic/chart';

// permite cargar el componente de grafica del error
import chartError from './pronostic/chartError';

// permite manejar arrays y objetos de forma eficiente
import _ from 'lodash';
// manejo de fecha
import * as moment from 'moment';
// localización y configuración de moment
import 'moment/locale/es';
moment.locale('es')

export default {
  /*
  * Constructor del compoente
  * registra escuchadores y solita información
  * de configuración
  * Santiago Blanco
  */
  mounted() {
    this.registerListeners()
    ipcRenderer.send('getInfo')
  },
  /*
  * Al eliminar el componente deja de escuchar
  * eventos provenientes del back
  * Santiago Blanco
  */
  destroyed() {
    ipcRenderer.removeAllListeners('receiveClock')
    ipcRenderer.removeAllListeners('receiveInfo')
    ipcRenderer.removeAllListeners('changeClock')
    ipcRenderer.removeAllListeners('terminal')
    ipcRenderer.removeAllListeners('finished')
    ipcRenderer.removeAllListeners('change-status')
    ipcRenderer.removeAllListeners('receiveChartData')
    ipcRenderer.removeAllListeners('receiveConfig')
  },
  /*
  * Componentes que usara el componente
  * Santiago Blanco
  */
  components: {
    Menu,
    Configuration,
    Help,
    chart,
    chartError
  },
  data() {
    return {
      showDownloadModal: false,
      selectedMAPE: null,
      resDurac: [],
      activeNameRight: 'first',
      indicators: [],
      configIsLoaded: false, // determina si la configuración ha sido cargada
      hour: '--:--', // hora a mostar
      date: '--:--', // fecha a mostrar
      nn: '-:-', // am/pm a mostrar
      terminalStep: null, // paso a mostrar
      terminalIsRunning: false, // determina si se esta ejecutando
      terminalMessages: '', // mensajes de la consola
      chartRegisters: [], // información de las graficas
      isCollapse: false, // menu principal lateral collapsed
      active: '2', // elemento activo del menu principal
      config: null, // configuración de parametros de entrada
      activeTab: 'sin', // tab por defecto de pronostico
      area: null, // area por defecto
      subestacion: null, // subestacion por defecto
      subestaciones: [], // subestaciones
      areas: [], // areas
      itemMenuConfig: '1', // tab de configuracion seleccionado,
      MAPEChartData: [] // datos asociados a la grafica de errores
    }
  },
  methods: {
    downloadResults () {

      this.loading = this.$loading({
        lock: true,
        background: 'white',
        text: 'Espere mientras se comprimen los archivos'
      })

      ipcRenderer.send('compressResults')
    },
    changePreviusActive() {
      if (!_.isNil(this.chartCurva)) {
        this.chartCurva.destroy()
        this.chartCurva = null
      }
      this.active = '1'
    },
    showCurve() {
      this.active = '4'
      var that = this
      setTimeout(() => {

            var xAxis = ['x']
            var yAxis = ['Demanda']

          if (this.activeTab === 'sin') {

              this.resDurac.forEach((v, k) => {
                  yAxis.push(v['SIN'])
                  xAxis.push(v['SIN_prob'])
              })

          }

          if (this.activeTab === 'pronosticoArea') {   
             this.resDurac.forEach((v) => {
                yAxis.push(v[this.area.value])
                xAxis.push(v[this.area.value + '_prob'])     
              })
          }

         this.chartCurva = c3.generate({
              bindto: '#curva',
              legend: {
                show: false
              },  
              axis: {
                x: {
                  tick: {
                      fit: false,


                        format: function (x) { 
                            return x.toFixed(2); 
                        }
                      },


                  label: {
                    text: 'Probabilidad de excedencia (%)',
                    position: 'outer-center'
                  },
                },
                y: {
                  label: {
                    text: 'Demanda (MW)',
                    position: 'outer-middle'
                  },
                },
              },
              tooltip: {
                  format: {
                      title: function (d) { return 'Probabilidad de excedencia ' + d.toFixed(2) + ' %' },
                      value: function (value, ratio, id) {
                          return value.toFixed(2) + ' MW'
                      }
          //            value: d3.format(',') // apply this format to both y and y2
                  }
              },




              data: {
                 colors: {
                  'y': 'red',
                  'x': 'red'
                 },
                 x: 'x',
                  columns: [
                     xAxis,
                     yAxis
                  ]
              }
          });

      }, 500)

    },

    /*
    * Permite detener la ejecución del modelo
    * Santiago Blanco
    */
    stop() {
      ipcRenderer.send('kill')
      this.terminalMessages = ''
      this.loading = this.$loading({
        lock: true,
        background: 'white',
        text: 'Espere'
      })

      setTimeout(() => {
        ipcRenderer.send('status')
        this.loading.close()
      }, 3000)
    },
    /*
    * Permite iniciar el modelo
    * Santiago Blanco
    */
    start() {
      ipcRenderer.send('start')
    },
    /*
    * Permite ir a las graficas
    * Santiago Blanco
    */
    goToCharts() {
      this.active = '1'
    },
    /*
    * Permite guardar
    * Santiago Blanco
    */
    save(config) {
      const loading = this.$loading({
        lock: true,
        background: 'white',
        text: 'Ajustando variables'
      })

      setTimeout(() => {
        loading.close()
      }, 2000)

      ipcRenderer.send('saveTraining', config)
      this.goToTerminal()
    },

    /*
    * Permite redirigir al a terminal
    */
    goToTerminal() {
      this.active = '2'
      this.itemMenuConfig = '3'
    },
    /*
    * Permite cambiar el area
    * existe en el array
    * Santiago Blanco
    */
    changeArea() {
      console.log('El area a cambiado', this.area)
      this.subestacion = this.area.subestaciones[0]
      this.setMPE()
    },
    /*
    * Permite detectar cambios en la subestacion
    * existe en el array
    * Santiago Blanco
    */
    changeSubestacion() {
      console.log('La subestación a cambiado', this.subestacion)
      this.setMPE()      
    },
    /*
    * Permite detectar si la información ya 
    * existe en el array
    * Santiago Blanco
    */
    dataExist() {
      if (this.chartRegisters.length > 0) {
        return this.chartRegisters[0].length > 0
      }
    },
    /*
    * Permite formatear los datos
    * Santiago Blanco
    */
    formatData(data, key) {
      return _.map(data, v => {
        return v[key]
      })
    },
    /*
    * Permite renderizar la grafica seleccionada
    * Santiago Blanco
    */
    changeTab(tab) {
      this.setMPE()
      window.dispatchEvent(new Event('resize'))
    },
    /*
    * Guarda en el scope las areas y las subregiones
    * y asigna una por defecto (la 1)
    * Santiago Blanco
    */
    assignAreasAndSubestations() {
      this.areas = this.config.optionsArea
      this.area = this.areas[0]
      this.subestacion = this.area.subestaciones[0]
    },

    /*
    * Permite hacer el MAPE
    * Santiago Blanco
    */
    setMPE () {

      if (this.activeTab == "sin") {
        this.selectedMAPE = (parseFloat(this.MAPE[0].SIN)).toFixed(3)
      }

      if (this.activeTab == "pronosticoArea") {
        this.selectedMAPE = (parseFloat(this.MAPE[0][this.area.value])).toFixed(3)
      }

      if (this.activeTab == "barras") {
        this.selectedMAPE = (parseFloat(this.MAPE[0][this.subestacion.value])).toFixed(3)
      }


    },

    /*
    * Regitra escuchadores de eventos
    * Santiago Blanco
    */
    registerListeners() {
      ipcRenderer.on('receiveInfo', (r, config) => {
        this.config = config
        this.configIsLoaded = true
        this.assignAreasAndSubestations()
      })

      // permite poner la hora y el indicador de demanda
      ipcRenderer.on('changeClock', (r, s) => {

        if (!_.isNil(s)) {
          this.indicators = s[0].x.split('#')
          this.date = moment(this.indicators[0]).format('dddd, DD MMMM YYYY')
          this.hour = moment(this.indicators[0]).format('h:mm')
          this.nn = moment(this.indicators[0]).format('a')
        }


      })

      // permite esuchar cambios en el mape
      ipcRenderer.on('changeResMAPE', (r, s) => {
        // console.log("Recibiendo resMAPE", s)
        this.MAPEChartData = s
      })

      // permite esuchar cambios en el mape
      ipcRenderer.on('changeResDurac', (r, s) => {
        // console.log("Recibiendo resMAPE", s)
        this.resDurac = s
      })


      ipcRenderer.on('readyToDownload', (r, s) => {
          this.loading.close()
          this.showDownloadModal = true
      })

      // permite escuhar el mape
      ipcRenderer.on('changeMPE', (r, s) => {
        this.MAPE = s
        this.setMPE()
      })

      // recibe los mensajes de la terminal
      ipcRenderer.on('terminal-records', (r, s) => {
        // console.log(s)
        this.terminalIsRunning = true
        this.terminalMessages += '\n' + s
      })

      // solicita el estado
      ipcRenderer.on('finished', (r, s) => {
        ipcRenderer.send('status')
      })

      // permite determinar si los modelos se encuentran en ejecución
      ipcRenderer.on('change-status', (r, s) => {
        console.log('status', s)
        if (_.isNil(s)) {
          this.terminalIsRunning = false
        } else {
          this.terminalIsRunning = true
        }
      })

      // recibiendo charts
      ipcRenderer.on('receiveChartData', (r, s) => {
        console.log('recieviendo chart data')
        this.chartRegisters = s

      })

      // permite cambiar el step
      ipcRenderer.on('terminalStep', (r, s) => {
        this.terminalStep = s
      })

      // descarga la configuración
      ipcRenderer.on('receiveConfig', (r, s) => {
        var a = window.document.createElement('a')
        a.href = window.URL.createObjectURL(new Blob([
          s
        ], {
          type: 'text/plain'
        }))
        a.download = 'config-input.xmd'
        document.body.appendChild(a)
        a.click()
      })
    },
    /*
    * Cambia la visualización del menu
    * Santiago Blanco
    */
    toggleMenu() {
      this.isCollapse = !this.isCollapse
    },
    /*
    * Formatea hora a militar
    * Santiago Blanco
    */
    timeFormat(date) {
      var hours = date.getHours()
      var minutes = date.getMinutes()
      var ampm = hours >= 12 ? 'pm' : 'am'
      hours = hours % 12
      hours = hours ? hours : 12 // the hour '0' should be '12'
      minutes = minutes < 10 ? '0' + minutes : minutes
      var strTime = hours + ':' + minutes + ' ' + ampm
      return strTime
    },
    /*
    * Permite cambiar el menu
    * Santiago Blanco
    */
    changeMenu(data) {
      if (data === 'toogleMenu') {
        this.toggleMenu()
      } else {
        if (!_.isNil(this.chartCurva)) {
          this.chartCurva.destroy()
          this.chartCurva = null
        }
        this.active = data
      }
    },
    /*
    * Determina el GRID del menú 
    * Santiago Blanco
    */
    getClassMenuWrapper() {
      if (this.isCollapse) {
        return 'col-1'
      }
      return 'col-2'
    },
    /*
    * Determina el GRID 
    * Santiago Blanco
    */
    getClassContentWrapper() {
      if (this.isCollapse) {
        return 'col-11'
      }
      return 'col-10'
    },
    /*
    * Permite configurar el elemento a mostrar
    * en el menu de configuración
    * Santiago Blanco
    */
    changeItemMenuConfig(item) {
      this.itemMenuConfig = item
    }
  }
};

</script>

<style>
* {
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -o-user-select: none !important;
  user-select: none !important;
}

.el-menu-item.is-active {
  color: #e87722 !important;
}

.el-tabs__item.is-active {
  color: #e87722 !important;
}

.el-tabs__item:hover {
  color: #e87722;
  cursor: pointer !important;
}

.el-tabs__active-bar {
  background-color: #e87722 !important;
}

.btn-primary {
  color: #fff;
  background-color: #e87722 !important;
  border-color: #e87722 !important;
}

.el-switch__label.is-active {
  color: #e87722 !important;
}

.el-button:focus,
.el-button:hover {
  color: white;
  border-color: #ff8009 !important;
  background-color: #e87722 !important;
}

.el-loading-spinner .el-loading-text {
  color: #e87722 !important;
  margin: 3px 0 !important;
  font-size: 14px !important;
}

.el-notification .el-icon-success {
  color: #e87722 !important;
  background-color: #e87722 !important;
}

.el-button--primary {
  color: #fff !important;
  background-color: #e87722 !important;
  border-color: #e87722 !important;
}

.el-switch.is-checked .el-switch__core {
  border-color: #e87722 !important;
  background-color: #e87722 !important;
}

.el-loading-spinner .path {
  -webkit-animation: loading-dash 1.5s ease-in-out infinite !important;
  animation: loading-dash 1.5s ease-in-out infinite !important;
  stroke-dasharray: 90, 150 !important;
  stroke-dashoffset: 0 !important;
  stroke-width: 2 !important;
  stroke: #e97c2a !important;
  stroke-linecap: round !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #e97c2a !important;
  border-color: #e97c2a !important;
}

@font-face {
  font-family: "digital-7";
  src: url("digital-7.ttf");
}

.font-clock {
  font-family: "digital-7", sans-serif;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.chart-container {
  height: 386px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

  .c3-line { stroke-width: 4px !important; }

circle {
  r: 5;
}

</style>
