<template>
<div style="height: 100%;">
  <el-menu :collapse-transition="false"
           style="height:100% !important;"
           :default-active="active"
           class="el-menu-vertical-demo"
           :collapse="isCollapse">
    <el-menu-item @click="changedElement('2')"
                  index="2">
      <i class="el-icon-news"></i>
      <span slot="title">Configuración</span>
    </el-menu-item>
    <el-menu-item @click="changedElement('1')"
                  index="1">
      <i class="el-icon-menu"></i>
      <span slot="title">Gráficas</span>
    </el-menu-item>
    <el-menu-item @click="changedElement('3')"
                  index="3">
      <i class="el-icon-question"></i>
      <span slot="title">Ayuda</span>
    </el-menu-item>
    <el-menu-item @click="changedElement('toogleMenu')"
                  index="4">
      <i v-if="isCollapse"
         class="el-icon-arrow-right"></i>
      <i v-if="!isCollapse"
         class="el-icon-arrow-left"></i>
      <span slot="title"></span>
    </el-menu-item>
  </el-menu>
</div>

</template>

<script>
export default {
  props: {
    active: String, // determina el elemento del menu activo
    inProcess: Boolean, // determina si se encuentra en proceso
    isCollapse: false // determina si el menu esta contraido o si se muestra en su totalidad.
  },
  methods: {
    /*
    * Permite cambiar de pagina
    * Santiago Blanco
    */
    changedElement(page) {
      this.$emit('changedMenu', page)
    }
  }
};

</script>
