<template>
<div>
  <loading 
           :active.sync="isLoading"
           :can-cancel="true"
           :is-full-page="fullPage"></loading>
  <h5 v-if="!isLoading">{{title}}</h5>
  <div style="margin-top: 30px;"
       :id="name"></div>
</div>

</template>

<script>
const { ipcRenderer } = require("electron");
// funcion eachSeries de async
import eachSeries from "async/eachSeries";
// manejo de arrays
import _ from "lodash";
// libreria para el manejo de charts
import ApexCharts from "apexcharts";
// libreria para mostrar el cargando
import Loading from "vue-loading-overlay";
// libreria para operaciones asincronas
import async from 'async'


export default {
  /*
  * Iniciamos renderizado de datos
  * Santiago Blanco
  */
  mounted() {
    this.processData();
  },
  watch: {
    chartRegisters: function(newRegisters, oldRegisters) {
        this.isLoading = true;
        this.chartRegisters = newRegisters
        this.getColumns()
          .then(this.getDataByColumn)
          .then(this.generateSeries)
          .then((series) => {

          this.chart.updateOptions({
            xaxis: {
              categories: this.getCategories()
            }
          })
            this.chart.updateSeries(series)
            setTimeout(() => {
             this.isLoading = false;  
            }, 2000);
          })

    },
    area(area) {
      if (area) {
        this.isLoading = true;
        this.chart.destroy();
        this.processData();
      }
    },
    subestacion(subestacion) {
      if (subestacion) {
        this.isLoading = true;
        this.chart.destroy();
        this.processData();
      }
    }
  },
  props: [
    "chartRegisters",
    "name",
    "title",
    "yaxisTitle",
    "mode",
    "config",
    "zoom",
    "scroller",
    "area",
    "subestacion"
  ],
  name: "chart",
  components: {
    Loading
  },
  methods: {
    /*
    * Permite determinar si es un area valida
    * Santiago Blanco
    */
    isArea(area) {
      var isArea = _.find(this.config.optionsArea, {
        value: area
      });
      return isArea;
    },
    /*
    * Permite determinar si el area del parametro es
    * exactamente igual al área seleccionda.
    * Santiago Blanco
    */
    isSameArea (area) {
      return area === this.area.value
    },
    /*
    * Permite determinar si la subestación
    * enviada por el parametro es una subestación valida
    * Santiago Blanco
    */
    isSubestacion(subestacion) {
      var isSubestacion = _.find(this.area.subestaciones, {
        value: subestacion
      });

      return isSubestacion;
    },
    /*
    * Permite determinar si la subestación
    * seleccionada es valida
    * Santiago Blanco
    */
    isSameSusbestacion (subestacion) {
      return subestacion === this.subestacion.value
    },
    /*
    * Permite retornar las columnas dependiendo del modo (modo sin, modo pron etc)
    * Santiago Blanco
    */
    getColumns() {
      return new Promise((resolve, reject) => {
        if (this.mode == "sin") {
          var columns = [];
          Object.keys(this.chartRegisters[0]).forEach((key, value) => {
            var column = key.split("_");
            if (column[0] === "SIN") {
              columns.push(key);
            }
            if (column[0].trim() === "Periodo" || column[0].trim() === "Fecha") {
              columns.push(key);
            }
          });
          resolve(columns);
        }

        if (this.mode == "area") {
          var columns = [];
          Object.keys(this.chartRegisters[0]).forEach((key, value) => {
            var column = key.split("_");
            if (column[0] !== "SIN" && this.isArea(column[0]) && this.isSameArea(column[0])) {
              columns.push(key);
            }

            if (column[0].trim() === "Periodo" || column[0].trim() === "Fecha") {
              columns.push(key);
            }
          });
          resolve(columns);
        }

        if (this.mode == "subestacion") {
          var columns = [];
          Object.keys(this.chartRegisters[0]).forEach((key, value) => {
            var column = key.split("_");
            if (
              column[0] !== "SIN" &&
              !_.isNil(this.isSubestacion(column[0]))
               && this.isSameSusbestacion(column[0])
            ) {
              columns.push(key);
            }

            if (column[0].trim() === "Periodo" || column[0].trim() === "Fecha") {
              columns.push(key);
            }
          });
          resolve(columns);
        }
      });
    },
    /* 
    * Permite generar las series de la grafica
    * Santiago Blanco
    */
    processData() {
      if (this.chartRegisters.length > 0) {
        // obtener columnas
        // obtener los datos asociados a esas columnas
        // asignar series (generando series)
        // asignamos valor y renderizamos grafica
        this.getColumns()
          .then(this.getDataByColumn)
          .then(this.generateSeries)
          .then(this.renderChart);
      }
    },
    /* 
    * Obtener datos por columna
    * Santiago Blanco
    */
    getDataByColumn(columns) {
      var data = [];
      return new Promise((resolve, reject) => {
          async.eachSeries(this.chartRegisters, (register, callback) => {
              async.eachSeries(columns, (column, cb) => {
                if (column !== "Periodo" && column !== "Fecha") {
                  if (_.isNil(data[column])) {
                    data[column] = []
                  } 
                  data[column].push([
                    new Date(register.Fecha + ' ' + register.Hora  + ':' + register.Min).getTime(),
                    parseFloat(register[column])
                  ])
                  cb()
                } else {
                  cb()
                }
              }, () => {
                callback()
              })
          }, () => {
             resolve({
                data: data,
                columns
             })
          })
      })
    },
    /* 
    * Permite generar las series de la grafica
    * Recorre todas las columnas provenientes de info
    * Formateamos los datos mandandole la columna
    * Santiago Blanco
    */

    generateSeries(dataByColumn) {
      return new Promise((resolve, reject) => {
        var series = []
        async.eachSeries(dataByColumn.columns, (column, callback) => {
          if (column !== "Periodo" && column !== "Fecha") {
              series.push({
                  name: column,
                  data: dataByColumn.data[column]
              })
              callback()
          } else {
            callback()
          }
        }, () => {
          resolve(series)
        })        
      })
    },
    /*
    * Permite generar los periodos a visualizar en la grafica.
    * Santiago Blanco
    */
    getCategories() {
      var counter = 0
      var chartLength = this.chartRegisters.length
      var size = 10
      var chartLengthOverSize = parseInt(chartLength / size)
            var periodStep = parseInt(this.chartRegisters[0].Periodo)
      var periodsSteps = []
      var periods = []
       _.each(this.chartRegisters, (reg, index) => {
          periods.push(parseInt(reg.Periodo))
          if (parseInt(reg.Periodo) === periodStep) {
            periodStep = periodStep + chartLengthOverSize
            periodsSteps.push(parseInt(reg.Periodo))
          }
      })
       this.periodsSteps = periodsSteps
      return periods
    },
    /*
    * Renderiza la grafica
    * Santiago Blanco Vilchez
    */
    renderChart(series) {

      this.isLoading = false;
      var options = {
        chart: {
          type: 'area',
          stacked: false,
          height: 334,
          zoom: {
            type: 'x',
            enabled: false
          },
          toolbar: {
            autoSelected: 'zoom'
          }
        },
        plotOptions: {
          line: {
            curve: 'smooth',
          }
        },
        stroke: {
          width: [1, 1, 1, 1],
          curve: "smooth"
        },
        dataLabels: {
          enabled: false
        },
        series: series,
        markers: {
          size: 0,
          style: 'full',
        },
        //colors: ['#0165fc'],
        title: {
          align: 'left'
        },
        fill: {
          gradient: {
            enabled: true,
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
          },
        },
        yaxis: {
          min: 0,
          labels: {
            formatter: function (val) {
              return val.toFixed(2)
            },
          },
          title: {
            text: this.yaxisTitle
          },
        },
        xaxis: {
          type: 'datetime',
        },
        animations: {
          enabled: false,
          dynamicAnimation: {
            enabled: false
          }
        },
        tooltip: {
          x: {
              show: true,
              format: 'dd MMM',
              formatter: undefined,
          },
          shared: true,
          y: {
            formatter: function (val, x) {
              return val.toFixed(2)
            }
          }
        }
      }

      this.chart = new ApexCharts(
          document.querySelector("#" + this.name),
          options
        );

      this.chart.render();

  /*      setTimeout(() => {
          chart.render();
          this.isLoading = false;
        }, 2000);
*/







    },
    /*
    * Determinar si puede mostrar leyendas
    * Santiago Blanco Vilchez
    */
    canShowLegend () {
      return !this.subestacion
    },  
    /*
    * Permite retornar el valor formateado
    * Santiago Blanco Vilchez
    */
    formatData(data, key) {
      return _.map(data, v => {
        if (v[key]) {
          return v[key];
        }
      });
    }
  },
  data() {
    return {
      periodsSteps: [], // almacena los steps de las graficas
      categories: [], // las catetories (pendiente de borrado)
      series: [], // series asociadas a la gráfica seleccionada
      registers: [], // aparentemente pendiente de borrado
      apexChart: ApexCharts, // pendiente de borrado
      isLoading: true, // determina si la gráfica esta cargando
      fullPage: true // pendiente de borrado
    };
  }
};
</script>