<template>
<div>
  <div :key="input.name"
       class="form"
       v-for="input in inputs">
    <div v-if="input.type === 'number'">
      <label><b>{{input.label}}</b>
        <el-tag v-if="input.unit"
                type="warning">{{input.unit}}</el-tag>
      </label>
      <el-input :disabled="input.disabled"
                type="number"
                :min="input.min"
                :max="input.max"
                :value="input.value"
                @change="onChangeInput($event, input)"
                :placeholder="input.placeholder" />
      <p>{{input.description}}</p>
    </div>
    <div v-if="input.type === 'checkbox' && canRender(input)"
         style="margin-bottom: 20px;">
      <el-switch 
				@change="changeCheckbox(input)"
      			 v-model="input.value"
                 :active-text="input.label">
      </el-switch>
    </div>
    <div v-if="input.type === 'float'">
      <label><b>{{input.label}}</b>
        <el-tag v-if="input.unit" type="warning">{{input.unit}}</el-tag>
      </label>
      <vue-numeric class="form-control"
                   @onChange="onChangeInput(input)"
                   v-bind:decimal-separator="'.'"
                   v-bind:precision="2"
                   v-model="input.value"
                   v-bind:min="input.min"
                   v-bind:max="input.max"></vue-numeric>
      <p><b>Rango:</b> > {{input.min}}
        < {{input.max}}</p>
          <p>{{input.description}}</p>
    </div>
    <div v-if="input.type === 'select'">
      <label><b>{{input.label}}</b></label>
      <div>
       
        <el-select style="width: 100%;"
                   v-model="input.value"
                   placeholder="Select">
          <el-option v-for="item in input.options"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </div>
      <p>{{input.description}}</p>
    </div>
  </div>
</div>

</template>

<script>
import _ from 'lodash'
import VueNumeric from 'vue-numeric';
export default {
  components : {
  	VueNumeric
  },
  /*
  * Constructor del componente
  * Santiago Blanco
  */
  mounted () {
    this.setInputs()
  },
  watch: {
    /*
    * Permite escuchar los archivos de configuración
    * Santiago Blanco
    */
    config: {
        handler () {
          this.setInputs()
        },
        deep: true      
    }
  },
  methods: {
    /*
    * Genera un array con todos los inputs
    * Santiago Blanco
    */
    setInputs () {
          this.inputsList = []
          this.config.training.tabs.forEach((tab) => {
              tab.right.tabs.forEach((internalTab) => {
               internalTab.inputs.forEach((input) => {
                this.inputsList.push(input)
                })
              })

              tab.left.tabs.forEach((internalTab) => {
               internalTab.inputs.forEach((input) => {
                this.inputsList.push(input)
                })
              })
          })

    },
    /*
    * Determina si permite renderizar el control
    * Santiago Blanco
    */
    canRender (input) {
      var canRender = false
      if (input.name === "pronosticar_RL") {
        var found = _.find(this.inputsList, {
          name: 'pronosticar_RL'
        })

        if(!_.isNil(found)) {
          if (found.value) {
            canRender = true
          }
        }
      }

      else if (input.name === "pronosticar_GAM") {
        var found = _.find(this.inputsList, {
          name: 'pronosticar_GAM'
        })

        if(!_.isNil(found)) {
          if (found.value) {
            canRender = true
          }
        }
      }

      else if (input.name === "pronosticar_ELMAN") {
        var found = _.find(this.inputsList, {
          name: 'pronosticar_ELMAN'
        })

        if(!_.isNil(found)) {
          if (found.value) {
            canRender = true
          }
        }
      }

      else if (input.name === "pronosticar_ARIMA") {
        var found = _.find(this.inputsList, {
          name: 'pronosticar_ARIMA'
        })

        if(!_.isNil(found)) {
          if (found.value) {
            canRender = true
          }
        }
      }


      else if (input.name === "pronosticar_LSTM") {
        var found = _.find(this.inputsList, {
          name: 'pronosticar_LSTM'
        })

        if(!_.isNil(found)) {
          if (found.value) {
            canRender = true
          }
        }
      }

      else {
          canRender = true
      }

      return true
    },

    /*
    * Al cambiar un control
    * Santiago Blanco
    */
    onChangeInput (value, input) {

      if (!_.isNil(this.notify)) {
        this.notify.close()
      }

      if (parseFloat(value) > input.max) {
        this.notify = this.$notify({
          title: 'Advertencia',
          message: 'El máximo es ' + input.max + '.',
          type: 'error',
          position: 'bottom-right'          
        });
        return
      }

      if (parseFloat(value) < input.min) {
        this.notify = this.$notify({
          title: 'Advertencia',
          message: 'El valor mínimo es ' + input.min + '.',
          type: 'error',
          position: 'bottom-right'
        }); 
        return 
      }

      input.value = parseFloat(value)
    },
    /*
    * Evento que lanzamos cuando cambia el checkbox
    * Santiago Blanco
    */
  	changeCheckbox (input) {
      console.log(input)
  	  // console.log("cambiando checkbox", input.value)
  	  this.$emit('changeCheckbox', {
  	  	input: input,
  	  	position: this.position,
  	  	tab: this.tab,
  	  	internalTab: this.internalTab,
  	  	position: this.position
  	  })
  	}
  },
  name: 'Controls',
  props: {
    config: Object, // archivo de configuración global
    inputs: Array, // parametros de entrada
    position: String, // posicion (left or right)
    tab: Object, // tab seleccionado
    internalTab:Object // internaltab seleccionado
  },
  data() {
    return {
      inputsList: []
    }
  }
}

</script>
