<template>
<div v-if="config" element-loading-background="rgba(255, 255, 255, 1)"
element-loading-text="No se pueden modificar las variables mientras esta en ejecución.">
  <div class="row">
    <div class="col-md-12">
      <el-tabs v-model="activeTab">
        <el-tab-pane :key="tab.name"
                     v-for="tab in config.training.tabs"
                     :label="tab.label"
                     :name="tab.name">
          <div class="row">
            <div v-bind:class="getClassInternal(tab)">
              <el-tabs type="border-card"
                      class="box-small"
                       v-model="tab.left.activeTab">
                <el-tab-pane :key="internalTab.name"
                             v-if="internalTab.visible"
                             v-for="internalTab in tab.left.tabs"
                             :label="internalTab.label"
                             :name="internalTab.name">
                  <Controls v-if="config.training" position="left"
                            :tab="tab"
                            :internalTab="internalTab"
                            @changeCheckbox="changeCheckbox"
                            :key="internalTab.name"
                            :config="config"
                            v-bind:inputs="formatInputs(internalTab.inputs)" />
                </el-tab-pane>
              </el-tabs>
            </div>
            <div class="col-md-6"
                 v-if="tab.right.tabs.length > 0">
              <el-tabs v-if="checkIfShow(tab)"
                       type="border-card"
                       v-model="tab.right.activeTab">
                <el-tab-pane :key="internalTab.name"
                             v-if="internalTab.visible"
                             v-for="internalTab in  tab.right.tabs"
                             :label="internalTab.label"
                             :name="internalTab.name">

                  <Controls v-if="config.training" :internalTab="internalTab"
                            :tab="tab"
                            position="right"
                            :key="internalTab.name"
                            v-bind:inputs="internalTab.inputs" />
                </el-tab-pane>
              </el-tabs>
              <div v-else>

              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</div>

</template>

<style>
  
.box-small {
    max-height: 350px !important;
    overflow-y: scroll !important;
}

</style>


<script>
import Controls from './Controls';
import _ from 'lodash';
const {ipcRenderer} = require('electron')
export default {
  components: {
    Controls
  },
  props: ['config'],
  methods: {
    /*
    * Permite formatear los checkbox 
    * Santiago Blanco
    */
    formatInputs (inputs) {
      _.each(inputs, (input) => {
          if (input.type == "checkbox") {
            if (input.value === "TRUE") {
              input.value = true
            } 

            if (input.value === "FALSE") {
              input.value = false
            }

          }
      })
      return inputs
    },
    /*
    * Permite determinar si debe de mostrar una clase
    * de 6 o de 12 de bootstrap
    * Santiago Blanco
    */
    getClassInternal (tab) {
      if (tab.right.tabs.length > 0) {
        return 'col-md-6'
      } else {
        return 'col-md-12'
      }
    },
    /*
    * Permite determinar si se puede mostrar el elemento
    * Santiago Blanco
    */
    checkIfShow(tab) {
      return _.find(tab.right.tabs, {
        visible: true
      })
    },
    /*
    * Accion que se ejecuta cuando se cambia el checkbox
    * Santiago Blanco
    */
    changeCheckbox(checkboxInfo) {
      var selectedTab = _.find(this.config.training.tabs, {
        name: checkboxInfo.tab.name
      })

      var inverse = (checkboxInfo.position === 'left') ? 'right' : 'left'

      console.log(inverse)

      var internalTab = null
      if (checkboxInfo.position === 'left') {
        var internalTab = _.find(selectedTab.left.tabs, {
          name: checkboxInfo.internalTab.name
        })
      }

      if (checkboxInfo.position === 'right') {
        var internalTab = _.find(selectedTab.right.tabs, {
          name: checkboxInfo.internalTab.name
        })
      }

      var input = _.find(internalTab.inputs, {
        name: checkboxInfo.input.name
      })

      console.log("e",input)

      if (input.name === 'pronosticar_GAM') {
        this.config.training.tabs[0].right.tabs[0].visible = checkboxInfo.input.value
      }

      if (input.name === 'pronosticar_ARIMA') {
        this.config.training.tabs[0].right.tabs[1].visible = checkboxInfo.input.value
      }

      if (input.name === 'pronosticar_ELMAN') {
        this.config.training.tabs[0].right.tabs[2].visible = checkboxInfo.input.value
      }

      if (input.name === 'pronosticar_LSTM') {
        this.config.training.tabs[0].right.tabs[3].visible = checkboxInfo.input.value
      }

      if (input.name === 'pronosticar_GAM' || input.name === 'pronosticar_ARIMA' || input.name === 'pronosticar_ELMAN' || input.name === 'pronosticar_LSTM') {

        var tab = _.find(this.config.training.tabs[0].right.tabs, {
          visible: true
        })

        if (tab) {
          this.config.training.tabs[0].right.activeTab = tab.name
        }
      }
       console.log(internalTab.name + 'es visible: ' + JSON.stringify())
    }
  },
  data() {
    return {
      activeTab: 'entrenamiento' // determina la pestaña seleccionada
    }
  }
};

</script>
