<template>
<div>
  <div style="display:none;">
    <input
           v-on:keyup.enter="send"
           class="form-control simplebox"
           style="width:100%; border:0"
           v-model="command" />
    <hr>
  </div>
  <div class="row">
        <div class="col-md-12">   
            <a  v-if="!terminalIsRunning"  @click="start" class="btn btn-warning btn">
                <span><i class="fa fa-terminal"></i> Iniciar ejecución</span>
            </a>

            <a  v-if="terminalIsRunning"   class="btn btn-warning btn"
                 @click="stop">Detener</a>

      <a v-if="terminalIsRunning" class="btn btn-warning btn"
                 @click="goToCharts"
                 >Ir a gráficas</a>

        </div>


      </div>
  <div id="textarea_id" 
      v-if="terminalIsRunning"
       class="pre-scrollable terminal-console">
    <div>
      <pre style="color:#efefef; overflow:scroll-y; padding:5px;">{{terminalMessages}}</pre>
    </div>
  </div>

</div>

</template>

<script>
export default {
  props: ["terminalMessages", "terminalIsRunning"],
  watch: {
    terminalMessages () {
var textarea = document.getElementById('textarea_id');
textarea.scrollTop = textarea.scrollHeight;
    }
  },
  data() {
    return {
      command: "",
      messagesTerminalCounter: 0
    };
  },
  methods: {
    goToCharts() {
      this.$emit("goToCharts");
    },
    stop() {
      this.$emit("stop")
    },
    start() {
      this.$emit("start")
    }
  }
};
</script>
