<template>
<div v-if="config">
  <el-collapse @change="changeCollapse($event)"
               :value="collapseMode"
               accordion>
    <el-collapse-item v-if="!terminalIsRunning"
                      title="Configuración general"
                      :config="config"
                      name="1">
      <trainingConfig 
                      :config="config"
                      @save="save"
                      :running="terminalIsRunning"
                      @goToTerminal="goToTerminal()" />
    </el-collapse-item>
    <el-collapse-item v-if="!terminalIsRunning"
                      title="Ajustes"
                      name="2">
      <generalConfig @save="save" :config="config"
                     :running="terminalIsRunning" />
    </el-collapse-item>
    <el-collapse-item title="Monitor"
                      name="3">
      <div class="row"
           v-if="terminalIsRunning"
           style="margin-top: 20px;">
        <div class="col-md-12">
          <el-steps :active="terminalStep"
                    finish-status="success"
                    align-center>
            <el-step title="Paso 1"
                     description="Pronóstico"></el-step>
            <el-step title="Paso 2"
                     description="Combinación"></el-step>
            <el-step title="Paso 3"
                     description="DEAs"></el-step>
            <el-step title="Paso 4"
                     description="Desagregación"></el-step>
            <el-step title="Paso 5"
                     description="Corrección"></el-step>
            <el-step title="Paso 6"
                     description="Nuevo dato"></el-step>
            <el-step title="Paso 7"
                     description="Imputación"></el-step>
            <el-step title="Paso 8"
                     description="Filtrado"></el-step>
            <el-step title="Paso 9"
                     description="Actualización"></el-step>
            <el-step title="Paso 10"
                     description="Entrenamiento"></el-step>
          </el-steps>
        </div>
      </div>
      <div class="row"
           style="margin-top: 20px;">
        <div class="col-md-12">
          <Terminal :terminalIsRunning="terminalIsRunning"
                    @start="start"
                    @stop="stop"
                    :terminalMessages="terminalMessages"
                    @goToCharts="goToCharts" />
        </div>
      </div>
    </el-collapse-item>


    <el-collapse-item v-if="!terminalIsRunning"
                      title="Categorización"
                      name="4">
      <div class="row">
        <div class="col-md-12">
    
      <el-alert
        title="Advertencia"
        type="warning"
        description="Debes de tener cuidado al editar las áreas y subcategorías ya que una mala configuración puede dejar el sistema inutilizable."
        show-icon>
      </el-alert>


      <a style="margin-top: 10px;color:white;" class="btn btn-primary" @click="addNode">Agregar área</a>

      <a style="margin-top: 10px;color:white;" class="btn btn-primary" @click="saveTree">Guardar</a>


      <vue-tree-list style="margin-top: 10px;" :model="data" default-tree-node-name="Área nueva" default-leaf-node-name="Subestacion nueva"></vue-tree-list>
        </div>
      </div>

    </el-collapse-item>



  </el-collapse>
</div>

</template>

<style>
.icon-folder-plus-e {
  visibility: hidden;
  display: none !important;
}

</style>

<script>
const {ipcRenderer} = require('electron')
import generalConfig from './general/Main';
import trainingConfig from './training/Main';
import Terminal from '../admin/Terminal';
import { VueTreeList, Tree, TreeNode } from 'vue-tree-list'
import async from 'async'

export default {
  mounted () {
    var tree = []
    this.config.optionsArea.forEach((area) => {
        var children = []
        if (!_.isNil(area.subestaciones)) {
          area.subestaciones.forEach((subestacion) => {
              children.push({
                name: subestacion.label,
                id: subestacion.value
              })
          })
        }
        tree.push({
          name: area.label,
          id: area.value,
          children: children
        })
    })
    this.data = new Tree(tree)
  },  
  data () {
    return {
      newTree: {},
      data: new Tree([])
    }
  },  
  props: [
    'collapseMode',
    'terminalMessages',
    'terminalIsRunning',
    'terminalStep',
    'config'
  ],
  methods: {
    /*
    * Permite guardar el arbol
    * Santiago Blanco
    */
    saveTree() {
      var optionsArea = []
      async.eachSeries(this.data.children, (reg, callback) => {
        var children = []
        if (!_.isNil(reg.children)) {
          reg.children.forEach((child) => {
            children.push({
              value: child.id,
              label: child.name
            })
          })
        }

        optionsArea.push({
          label: reg.name,
          value: reg.id,
          subestaciones: children
        })
        callback()
      }, () => {
        this.config.optionsArea = optionsArea
        ipcRenderer.send('getInfo')
        this.$emit("save", this.config)
      })
    },
    /*
    * Permite Agregar un nodo.
    * Santiago Blanco
    */
    addNode: function () {
      var node = new TreeNode({ name: 'Subestación nueva', isLeaf: false })
      if (!this.data.children) this.data.children = []
      this.data.addChildren(node)
    },
    /*
    * Permite emitir los datos de configuración para ser guardados
    * Santiago Blanco
    */
    save() {
      this.$emit("save", this.config)
    },
    /*
    * Permite avisar para ir a las graficas
    * Santiago Blanco
    */
    goToCharts() {
      this.$emit('goToCharts')
    },
    /*
    * Permite cambiar el collapse
    * Santiago Blanco
    */
    changeCollapse(i) {
      this.$emit('changeMenu', i)
    },
    /*
    * Permite cambiar el collapseMode a modo terminal
    * Santiago Blanco
    */
    goToTerminal() {
      this.collapseMode = '3'
    },
    stop() {
      this.$emit('stop')
    },
    start() {
      this.$emit('start')
    }
  },
  components: {
    generalConfig,
    trainingConfig,
    Terminal,
    VueTreeList
  }
};

</script>
