<template>
  <div>
<el-form label-position="right"
         label-width="100px"
         :model="config"
         element-loading-background="rgba(255, 255, 255, 1)"
         element-loading-text="No se pueden modificar las variables mientras esta en ejecución.">
  <div class="row"
       style="margin-bottom:10px;">
    <div class="col-md-12">
      <a @click="fabricReset()"
         class="btn btn-warning btn-sm float-right"
         style="margin-left: 10px;"><i class="fa fa-check"></i> Restablecer valores de fabrica</a>
      <a @click="loadFileDialog"
         class="btn btn-warning btn-sm float-right"
         style="margin-left: 10px;"><i class="fa fa-upload"></i> Cargar configuración desde archivo</a>
      <a @click="downloadFile()"
         class="btn btn-warning btn-sm float-right"
         style="margin-left: 10px;"><i class="fa fa-download"></i> Descargar configuración</a>
      <a @click="save()"
         class="btn btn-warning btn-sm float-right"
         style="margin-left: 10px;"><i class="fa fa-save"></i> Guardar configuración</a>
    
    </div>



  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <label><b>Versión: </b>1.0.0 Cassandra XM</label>
      <div>
        <label><b>Ultima modificación: </b> 01/12/2018</label>
      </div>
      <!--
      <el-form-item label="R path">
        <el-input v-model="config.RPath"></el-input>
      </el-form-item>
      <el-form-item>
        <a style="color:white;"
           @click="save()"
           class="btn btn-primary btn-sm">
          <i class="fa fa-save"></i>
          Guardar</a>
      </el-form-item>
      <el-form-item label="R version">
        <el-input :disabled="true"
                  :value="config.RVersion"></el-input>
      </el-form-item>
      <el-form-item label="Version">
        <el-input :disabled="true"
                  placeholder="None"
                  :value="config.version"></el-input>
      </el-form-item>
    -->
    </div>
  </div>
  <el-dialog title="Restablecer configuración desde archivo"
             :visible.sync="showUpload"
             width="50%">
    <div class="col-md-12 mt-4">
      <center>
        <el-upload class="upload-demo"
                   drag
                   :on-change="changeFile"
                   action="#"
                   multiple>
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">Suelta tu archivo aquí o <em>haz clic para cargar</em></div>
        </el-upload>
      </center>
    </div>
    <span slot="footer"
          class="dialog-footer">
    <el-button type="primary" @click="showUpload = false">Cerrar</el-button>
  </span>
  </el-dialog>
</el-form>
  </div>

</template>

<script>
const {ipcRenderer} = require('electron')
export default {
  props: [
    'config'
  ],
  methods: {
   /*
    * Permite guardar la configuración
    * Santiago Blanco
    */
    save() {
      this.$emit("save", this.config)
    },
   /*
    * Permite descargar el archivo de configuración
    * Santiago Blanco
    */
    downloadFile() {
      ipcRenderer.send('getConfigFile')
    },
    /*
    * Permite enviar el nuevo archivo de configuración
    * Santiago Blanco
    */
    changeFile(file) {
      console.log('cambiando archvio', file.raw)

      var reader = new FileReader()
      reader.onload = () => {
        ipcRenderer.send('setConfigFile', reader.result)
        this.showUpload = false
      }
      reader.readAsText(file.raw)

    },
    /*
    * Permite mostrar si debe mostrar el uploader
    * Santiago Blanco
    */
    loadFileDialog() {
      this.showUpload = !this.showUpload
    },
    /*
    * Permite resetear la configuración de los parametros
    * Santiago Blanco
    */
    fabricReset() {
      this.$confirm('Esto restablecera todos los valores de fabrica. Continuar?', 'Advertencia', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancelar',
        type: 'info'
      }).then(() => {
        ipcRenderer.send('fabricReset')
        setTimeout(() => {
          this.$message({
            type: 'success',
            message: 'Reset de fabrica exitoso.'
          })

          ipcRenderer.send('getInfo')
        }, 1000)

      }).catch(() => {
        this.$message({
          type: 'warning',
          message: 'Reset cancelado.'
        })
      })
    }
  },
  data() {
    return {
      showUpload: false // permite determinar si debe de mostrar el upload
    }
  }
}

</script>
