<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CASSANDRA</title>
    
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

      <style>
          * {
              -webkit-user-select: none !important;
              -khtml-user-select: none !important;
              -moz-user-select: -moz-none !important;
              -o-user-select: none !important;
              user-select: none !important;
          }

    .el-menu-item.is-active {
      color: #e87722 !important;
    }

    .el-tabs__item.is-active {
      color: #e87722 !important;
    }

    .el-tabs__item:hover {
      color: #e87722;
      cursor: pointer !important;
    }

    .el-tabs__active-bar {
      background-color: #e87722 !important;
    }

    .btn-primary {
      color: #fff;
      background-color: #e87722 !important;
      border-color: #e87722 !important;
    }

    .el-switch__label.is-active {
      color: #e87722 !important;
    }

    .el-button:focus,
    .el-button:hover {
      color: white;
      border-color: #ff8009 !important;
      background-color: #e87722 !important;
    }

    .el-loading-spinner .el-loading-text {
      color: #e87722 !important;
      margin: 3px 0 !important;
      font-size: 14px !important;
    }

    .el-notification .el-icon-success {
      color: #e87722 !important;
      background-color: #e87722 !important;
    }

    .el-button--primary {
      color: #fff !important;
      background-color: #e87722 !important;
      border-color: #e87722 !important;
    }

    .el-switch.is-checked .el-switch__core {
      border-color: #e87722 !important;
      background-color: #e87722 !important;
    }

    .el-loading-spinner .path {
      -webkit-animation: loading-dash 1.5s ease-in-out infinite !important;
      animation: loading-dash 1.5s ease-in-out infinite !important;
      stroke-dasharray: 90, 150 !important;
      stroke-dashoffset: 0 !important;
      stroke-width: 2 !important;
      stroke: #e97c2a !important;
      stroke-linecap: round !important;
    }

    .btn-danger {
      color: #fff !important;
      background-color: #e97c2a !important;
      border-color: #e97c2a !important;
    }

      </style>

    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
<style>
  body {
    overflow-x: hidden;
  }
</style>
    <!-- webpack builds are automatically injected -->
  </body>
</html>

