<template>
<div id="app">
  <router-view></router-view>
</div>

</template>

<script>
export default {
  name: 'orchestrator'
}

</script>

<style>
.form-control:focus {
  color: black;
  font-weight: bold;
  outline: 0px !important;
  -webkit-appearance: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0) !important;
}

h5 {
  font-family: 'Roboto', sans-serif !important;
}

.terminal-console {
	background:black;
	color:#e87722;
	border-radius:0px;
	height:300px;
	margin-top:20px;
	margin-right:20px;
	min-height:300px;
}

</style>
